CompileFlags:
  Add: [
    -Wall,
    -Wextra,
    -Wpedantic,
    -Weverything,
    -Wno-declaration-after-statement,
  ]
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  Designators: Yes
  BlockEnd: Yes
  TypeNameLimit: 0
